@import "tailwindcss";

@font-face {
  font-family: "Inter";
  src: url("https://fonts.cdnfonts.com/css/inter");
}

@theme {
  --font-inter: "Inter", sans-serif;
  --clr-white: "#FFFFFF";
  --clr-nav-1-text: "#969696";
  --clr-nav-2: "#0D192F";
  --clr-black: "#000000";
}

body {
  width: 100vw;
  display: flex;
  justify-content: center;
}